@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

main {
  background-color: azure;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  text-align: center;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

img {
  height: 80px;
  width: 80px;
}

h1 {
  font-weight: 700;
  font-size: 80px;
}

h2 {
  font-weight: 200;
  font-size: 50px;
}

.option-button {
  all: unset;
  height: 70px;
  width: 70px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 200px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.option-button:hover {
  background-color: rgb(188, 228, 228);
  transform: scale(1.2);
  transition: 0.4s;
}

#Rock {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-rock-o.svg);
}

#Paper {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-paper-o.svg);
}

#Scissors {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-scissors-o.svg);
}

#Lizard {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-lizard-o.svg);
}

#Spock {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-spock-o.svg);
}

.computer-move {
  height: 80px;
  width: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 200px;
  margin: 15px auto;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(188, 228, 228);
  visibility: hidden;
}

.class-rock {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-rock-o.svg);
  visibility: visible;
}

.class-paper {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-paper-o.svg);
  visibility: visible;
}

.class-scissors {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-scissors-o.svg);
  visibility: visible;
}

.class-lizard {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-lizard-o.svg);
  visibility: visible;
}

.class-spock {
  background-image: url(https://www.iconbolt.com/iconsets/line-awesome/hand-spock-o.svg);
  visibility: visible;
}

p {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 3px;
}

.class-win {
  color: rgb(68, 133, 68);
}

.class-draw {
  color: rgb(198, 198, 37);
}

.class-loss {
  color: rgb(194, 78, 78);
}

.result {
  font-weight: 200;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.span {
  font-weight: 400;
  font-size: 25px;
}

.reset-button {
  all: unset;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 200px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-image: url(https://www.iconbolt.com/iconsets/system-uicons/reset.svg);
}

.reset-button:hover {
  background-color: rgb(188, 228, 228);
  transform: scale(1.2);
  transition: 0.4s;
}
